body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.addCase {
  position: absolute;
  bottom: 25px;
  right: 55px;
  height: 80px;
  width: 80px;
  background-color: white;
  z-index: 2;
  border-radius: 15px;
}

.newCaseForm {
  position: absolute;
  background-color: white;

  width: 200px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

.newCaseForm p,
.newCaseForm input {
  display: inline-block;
  float: left;
  text-align: left;
}

.newCaseForm p {
  margin: 0;
}

.sendPhoneCode {
  width: 75px;
  text-align: center;
}

.selfReport {
  margin: 0;
  margin-top: -10px;
  font-size: 13px;
  padding: 0;
}
